/**************/
/* App styles */
/**************/

.App {
}

.App-header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.App-main {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

/***********************/
/* Chat message styles */
/***********************/

.chat-entry {
  margin: 1rem;
}

.chat-entry:last-child {
  margin-bottom: 0;
}

.entry-bubble {
  width: fit-content;
  min-width: 10rem;
  max-width: 50rem;

  padding: 1rem 1rem 0.1rem 1rem;

  background-color: lightyellow;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.entry-bubble:hover {
  background-color: #fefea2;
}

.entry-name {
  margin-bottom: 0.5rem;
  font-size: medium;
}

.entry-body {
  line-height: 1.5em;

  margin-top: 0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.entry-time {
  font-size: x-small;
  margin-bottom: 0.1rem;
  margin-right: 0.5rem;
  color: #bbb;
}

/* Chat bubble arrow styling */
.entry-bubble:before{
  content: ' ';
  position: relative;
  width: 0;
  height: 0;

  top: 6px;
  right: auto;
  bottom: auto;

  border: 22px solid;
}

/* "local" messages are shown on the left side */
.chat-entry.local {
  text-align: left;
}

.chat-entry.local .entry-time {
  text-align: right;
}

.chat-entry.local .entry-bubble:before {
  left: -33px;

  border-color: lightyellow transparent transparent transparent;
}

.chat-entry.local .entry-bubble:hover:before {
  border-color: #fefea2 transparent transparent transparent;
}

/* "remote" messages are shown on the right side, in blue */
.chat-entry.remote {
  text-align: right;
}

.chat-entry.remote .entry-bubble {
  margin-right: 0;
  margin-left: auto;

  background-color: lightcyan;
}

.chat-entry.remote .entry-bubble:hover {
  background-color: #a9f6f6;
}

.chat-entry.remote .entry-time {
  text-align: left;
}

.chat-entry.remote .entry-bubble:before {
  left: 33px;

  border-color: lightcyan transparent transparent transparent;
}

.chat-entry.remote .entry-bubble:hover:before {
  border-color: #a9f6f6 transparent transparent transparent;
}

/*******************/
/* Chat log styles */
/*******************/

.chat-log {
  max-width: 50rem;
  margin: auto;
}
