#App {
  background-color: lightskyblue;
}

#App header {
  background-color: #222;
  padding-bottom: 0.5rem;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
}

#App main {
  padding-top: 7rem;
  padding-bottom: 5rem;
}

#App h1 {
  text-align: center;
  font-size: 1.5em;
}
